<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</head>
<body>
    <div class="container" style="display: flex; flex-direction: column; align-items: center; align-content: center; align-self: center; text-align: center;">
        <div class="column" style="display: flex; flex-direction: row; align-items: center;">
            <div class="row">
                <h1 style="height: 20px;">Error 404</h1>
                <p style="height: 20px; margin-top: 5%;">¡Página no encontrada!</p>
                <p style="height: 20px;">La página que buscaste no existe o ha sido movida</p>
            </div>
            <div class="row" style="margin-left: 0%;">
                <img style="height: 300px; width: 300px;" class="img-thumbnail" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQ2tx7PgDhz04eZUaDtkGzLzdl2LhDWgd0FA&s">
            </div>
            
        </div>
        <a class="btn" href="/" style="background-color: antiquewhite;">Volver al inicio</a>
    </div>
</body>
</html>